<section
    class="relative bg-gradient-to-r from-cyan-500/10 to-blue-500/10 py-20 px-10 md:px-40 flex flex-col md:flex-row justify-between items-center gap-10"
>
    <!-- Kolom Penjelasan Anatomi -->
    <div class="w-full md:w-1/2 animate__animated animate__fadeInLeft">
        <h2 class="text-4xl font-bold text-green-500">Anatomi Hewan</h2>
        <p class="text-lg mt-4">
            Anatomi hewan adalah studi tentang struktur tubuh hewan dan
            bagaimana setiap bagian bekerja untuk mendukung kehidupan. Setiap
            spesies memiliki adaptasi unik yang mendukung fungsi tubuhnya.
        </p>
        <ul class="mt-6 list-disc list-inside space-y-2">
            <li>
                <span class="font-bold text-green-500">Sistem Pencernaan:</span>
                Memproses makanan dan menyerap nutrisi.
            </li>
            <li>
                <span class="font-bold text-green-500">Sistem Respirasi:</span> Mengatur
                pernapasan untuk mengelola oksigen.
            </li>
            <li>
                <span class="font-bold text-green-500"
                    >Sistem Peredaran Darah:</span
                > Mengedarkan darah ke seluruh tubuh.
            </li>
            <li>
                <span class="font-bold text-green-500">Sistem Reproduksi:</span>
                Memastikan kelangsungan spesies.
            </li>
        </ul>
    </div>

    <!-- Gambar Anatomi -->
    <div
        class="relative grid grid-cols-1 md:grid-cols-2 gap-8 w-full md:w-[45%] animate__animated animate__fadeInRight"
    >
        <!-- Gambar 1: Anatomi Kucing -->
        <div class="relative group">
            <img
                src="/anatomiKucing.png"
                alt="Anatomi Kucing"
                class="w-full rounded-lg shadow-lg mt-10"
            />
            <div
                class="bg-white size-2 rounded-full absolute top-[8rem] left-[5.5rem]"
                data-tooltip-target="Paru-Paru Kucing"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Paru-Paru Kucing"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Paru-Paru Kucing
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[7.5rem] left-[7rem]"
                data-tooltip-target="Hati Kucing"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Hati Kucing"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Hati Kucing
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[7.4rem] left-[7.7rem]"
                data-tooltip-target="Perut Kucing"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Perut Kucing"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Perut Kucing
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[7.5rem] left-[9rem]"
                data-tooltip-target="Usus Kecil Kucing"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Usus Kecil Kucing"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Usus Kecil Kucing
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[7rem] left-[4rem]"
                data-tooltip-target="Batang Tenggorokan Kucing"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Batang Tenggorokan Kucing"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Batang Tenggorokan Kucing
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>

        <!-- Gambar 2: Anatomi Ayam -->
        <div class="relative group">
            <img
                src="/anatomiAyam.png"
                alt="Anatomi Ayam"
                class="w-full rounded-lg shadow-lg"
            />
            <div
                class="bg-white size-2 rounded-full absolute top-[5.8rem] left-[6.5rem]"
                data-tooltip-target="Paru-Paru Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Paru-Paru Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Paru-Paru Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[5.1rem] left-[9.5rem]"
                data-tooltip-target="Ginjal Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Ginjal Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Ginjal Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[6.5rem] left-[9.5rem]"
                data-tooltip-target="Oviduk Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Oviduk Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Oviduk Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[8.4rem] left-[5rem]"
                data-tooltip-target="Hati Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Hati Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Hati Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div
                class="bg-white size-2 rounded-full absolute top-[8.4rem] left-[7rem]"
                data-tooltip-target="Gizard Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Gizard Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Gizard Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            
            <div
                class="bg-white size-2 rounded-full absolute top-[8rem] left-[6rem]"
                data-tooltip-target="Empedu Ayam"
                data-tooltip-style="light"
            >
            </div>
            <div
                id="Empedu Ayam"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
            >
                Empedu Ayam
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</section>
