<section
    id="anatomi"
    class="relative bg-gradient-to-r from-cyan-500/10 to-blue-500/10 py-20 px-10 md:px-40 flex flex-col justify-between md:flex-row items-center gap-10"
>
    <!-- Gambar Anatomi -->
    <div
        class="relative grid place-items-center w-full md:w-[45%] animate__animated animate__fadeInLeft"
    >
        <img src="/anatomiManusia.png" class="w-full pt-10" />
        <!-- Tooltip untuk Usus Besar -->
        <div
            class="bg-white size-2 rounded-full absolute top-[24.5rem] right-[15rem]"
            data-tooltip-target="ususBesar"
            data-tooltip-style="light"
        >
        </div>
        <div
            id="ususBesar"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Usus Besar
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <!-- Tooltip untuk Pankreas -->
        <div
            class="bg-white size-2 rounded-full absolute top-[20rem] right-[17rem]"
            data-tooltip-target="Hati Manusia"
            data-tooltip-style="light"
        >
        </div>
        <div
            id="Hati Manusia"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Hati
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <!-- Tooltip untuk Lambung -->
        <div
            class="bg-white size-2 rounded-full absolute top-[21rem] right-[13rem]"
            data-tooltip-target="lambung"
            data-tooltip-style="light"
        >
        </div>
        <div
            id="lambung"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Lambung
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <!-- Tooltip untuk Kerongkongan -->
        <div
            class="bg-white size-2 rounded-full absolute top-[14rem] right-[15.2rem]"
            data-tooltip-target="kerongkongan"
            data-tooltip-style="light"
        >
        </div>
        <div
            id="kerongkongan"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Kerongkongan
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <!-- Tooltip untuk Mulut -->
        <div
            class="bg-white size-2 rounded-full absolute top-[9.5rem] right-[17rem]"
            data-tooltip-target="Mulut"
            data-tooltip-style="light"
        >
        </div>
        <div
            id="Mulut"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Mulut
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    </div>

    <!-- Kolom Penjelasan Anatomi -->
    <div class="w-full md:w-1/2 animate__animated animate__fadeInRight">
        <h2 class="text-4xl font-bold text-yellow-300">Anatomi Manusia</h2>
        <p class="text-lg mt-4">
            Anatomi manusia adalah studi tentang struktur tubuh manusia dan
            fungsinya. Mulai dari sistem kerangka, otot, organ internal, hingga
            sistem saraf, anatomi membantu kita memahami bagaimana tubuh bekerja
            secara keseluruhan.
        </p>
        <ul class="mt-6 list-disc list-inside space-y-2">
            <li>
                <span class="font-bold text-yellow-300">Sistem Kerangka:</span> Memberikan
                struktur dan melindungi organ vital.
            </li>
            <li>
                <span class="font-bold text-yellow-300">Sistem Otot:</span> Menggerakkan
                tubuh dan mendukung postur.
            </li>
            <li>
                <span class="font-bold text-yellow-300">Organ Internal:</span> Mengatur
                fungsi vital seperti pernapasan dan pencernaan.
            </li>
            <li>
                <span class="font-bold text-yellow-300">Sistem Saraf:</span> Mengontrol
                respons tubuh dan transmisi sinyal.
            </li>
        </ul>
    </div>
</section>
