---
import "animate.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Anatomi Biologi</title>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	</head>
	<body class="bg-[#021526] text-[#E2E2B6]">
		<div class="max-w-[1440px] mx-auto">
			<slot />
		</div>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
		></script>
	</body>
</html>
